BLOCK RESETPATHS;
BANK 0 VCCIO 3.3V;
BANK 1 VCCIO 3.3V;
BANK 2 VCCIO 3.3V;
BANK 3 VCCIO 3.3V;

IOBUF PORT "req_i[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "req_i[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "req_i[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "req_i[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "req_i[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "req_i[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "req_i[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "req_i[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;

IOBUF PORT "prio_i[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[8]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[9]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[10]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[11]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[12]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[13]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[14]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[15]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[16]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[17]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[18]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[19]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[20]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[21]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[22]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "prio_i[23]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;

IOBUF PORT "req_o" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;

IOBUF PORT "sel_o[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "sel_o[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "sel_o[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;

IOBUF PORT "prio_o[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "prio_o[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;
IOBUF PORT "prio_o[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=8 SLEWRATE=FAST ;

DEFINE PORT GROUP "req_i_g" req_i*;
DEFINE PORT GROUP "prio_i_g" prio_i*;
DEFINE PORT GROUP "inputs" req_i* prio_i*;
DEFINE PORT GROUP "sel_o_g" sel_o*;
DEFINE PORT GROUP "pri_o_g" prio_o;
DEFINE PORT GROUP "outputs" sel_o* prio_o* req_o;

CLOCK_TO_OUT PORT req_o MAX 5ns CLKPORT req_i[0];
CLOCK_TO_OUT GROUP outputs MAX 5ns CLKPORT req_i[0];

LOCATE COMP "req_i[0]" SITE "76" ;
LOCATE COMP "req_i[1]" SITE "77" ;
LOCATE COMP "req_i[2]" SITE "78" ;
LOCATE COMP "req_i[3]" SITE "81" ;
LOCATE COMP "req_i[4]" SITE "82" ;
LOCATE COMP "req_i[5]" SITE "83" ;
LOCATE COMP "req_i[6]" SITE "84" ;
LOCATE COMP "req_i[7]" SITE "85" ;

LOCATE COMP "prio_i[0]" SITE "75" ;
LOCATE COMP "prio_i[1]" SITE "74" ;
LOCATE COMP "prio_i[2]" SITE "71" ;
LOCATE COMP "prio_i[3]" SITE "70" ;
LOCATE COMP "prio_i[4]" SITE "69" ;
LOCATE COMP "prio_i[5]" SITE "68" ;
LOCATE COMP "prio_i[6]" SITE "67" ;
LOCATE COMP "prio_i[7]" SITE "66" ;
LOCATE COMP "prio_i[8]" SITE "65" ;
LOCATE COMP "prio_i[9]" SITE "64" ;
LOCATE COMP "prio_i[10]" SITE "63" ;
LOCATE COMP "prio_i[11]" SITE "62" ;
LOCATE COMP "prio_i[12]" SITE "61" ;
LOCATE COMP "prio_i[13]" SITE "60" ;
LOCATE COMP "prio_i[14]" SITE "59" ;
LOCATE COMP "prio_i[15]" SITE "58" ;
LOCATE COMP "prio_i[16]" SITE "57" ;
LOCATE COMP "prio_i[17]" SITE "1" ;
LOCATE COMP "prio_i[18]" SITE "2" ;
LOCATE COMP "prio_i[19]" SITE "3" ;
LOCATE COMP "prio_i[20]" SITE "4" ;
LOCATE COMP "prio_i[21]" SITE "7" ;
LOCATE COMP "prio_i[22]" SITE "8" ;
LOCATE COMP "prio_i[23]" SITE "9" ;

LOCATE COMP "req_o" SITE "10" ;

LOCATE COMP "sel_o[0]" SITE "12" ;
LOCATE COMP "sel_o[1]" SITE "13" ;
LOCATE COMP "sel_o[2]" SITE "14" ;

LOCATE COMP "prio_o[0]" SITE "15" ;
LOCATE COMP "prio_o[1]" SITE "16" ;
LOCATE COMP "prio_o[2]" SITE "17" ;
